body {
    background-color: #16202b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    transition: color 200ms, background-color 200ms;
    border-radius: 25px;
    width: max-content; /* prevents link from growing bigger then it's content */
    margin: 10px;
    padding: 13px;
    /* specify color of text and svg */
    color: white;
    /* remove link styling */
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
    height: 24px;
}

.nav-link:hover {
    background-color: #1b3041;
    color: #20a1f1;
}

.nav-link svg {
    height: 24px;
    width: 24px;
}

.nav-link-container div {
    /* matches the height if the svg to center text vertically */
    line-height: 24px;
    margin-left: 15px;
}

@media (max-width: 1264px) {
    .nav-link-container div {
        display: none;
    }
}

.nav-link-container {
    /* makes the elements flow left to right instead of top to bottom within the container */
    display: flex;
    flex-direction: row;
}

.tweet-button {
    transition: background-color 200ms;
    background-color: #35a1f2;
    padding: 13px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    max-width: 230px;
    border-radius: 25px;
    border:none;
    cursor: pointer;
    outline: none;
    height: 47px;
}

.tweet-button:hover {
    background-color: #4c8fd4;
}

.logo:hover {
    color: white;
}
